# FastAPI and Server
fastapi
uvicorn[standard]

# Database
sqlalchemy
psycopg2-binary
alembic

# Pydantic for data validation and settings management
pydantic[email]
python-dotenv

# PDF Analysis and File Handling
PyMuPDF
Pillow
fpdf2
python-multipart

# Security
passlib[bcrypt]
python-jose[cryptography]

# Llama
ollama
PyYAML

# LangChain and RAG Components
langchain
langchain-community
langchain-core
langchain-ollama

# Vector Store (FAISS is a great local, file-based option)
faiss-cpu

# Embedding Model Library (for converting text to vectors)
sentence-transformers