.custom-icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* --- LIGHT MODE --- */
.controly-icon {
  background-image: url('../../assets/images/controly-icon-maroon.png');
}

a:not(.active) .controly-icon {
  background-image: url('../../assets/images/controly-icon-white.png');
}


/* --- DARK MODE --- */
body[data-theme='dark'] .active .controly-icon {
  background-image: url('../../assets/images/controly-icon-white.png');
}

body[data-theme='dark'] a:not(.active) .controly-icon {
  background-image: url('../../assets/images/controly-icon-white.png');
}

.nav-icon.custom-icon {
  width: 1.7rem;  
  height: 2rem;
  flex-shrink: 0; 
}

body[data-theme='dark'] .welcome-logo-icon {
  background-image: url('../../assets/images/controly-icon-white.png');
}